<header class="header">
  <div class="container">
    <div class="header_wrapper">
      <div class="header_logo">
        <img src=""/>
      </div>
      <article class="user-article">
        <ng-container *ngTemplateOutlet="userAuth ? isAuth : isNotAuth"></ng-container>
      </article>
    </div>
  </div>
</header>

<ng-template #isAuth>
  <p *ngIf="userData" class="user-article__username">{{userData.username }}</p>
  <button mat-button mat-raised-button  (click)="logoutAction()">Logout</button>
</ng-template>
<ng-template #isNotAuth>
  <button mat-button mat-raised-button (click)="loginAction()">Login</button>
</ng-template>
